################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DataService/CRMLiteAppService/.vs

/src/DataService/CRMLiteAppService/.vscode
/src/DataService/CRMLiteAppService/bin
/src/DataService/CRMLiteAppService/obj
*.suo
/.vs
src/WebApp/yarn.lock
