################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DataService/CRMLiteAppService/.vs

/src/DataService/CRMLiteAppService/CRMLiteAppService/.vscode
/src/DataService/CRMLiteAppService/CRMLiteAppService/bin/Debug/netcoreapp2.0
/src/DataService/CRMLiteAppService/CRMLiteAppService/obj
